name: Unit Tests

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  test:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Restore UnitTests
        run: dotnet restore digital-intelligence-bridge.UnitTests/digital-intelligence-bridge.UnitTests.csproj

      - name: Build App
        run: dotnet build digital-intelligence-bridge/digital-intelligence-bridge.csproj -c Debug --no-restore

      - name: Test
        run: dotnet test digital-intelligence-bridge.UnitTests/digital-intelligence-bridge.UnitTests.csproj -c Debug --no-build --logger "trx;LogFileName=test-results.trx"

